.form-control{
    background-color: #c8c8ce !important;
    border-color: black !important;
}
.btn{
    background-color: black !important;
}
.link-btn{
    margin-left: 10px !important;
    color: black !important;
}
.link-btn:hover{
    border: 1px solid black;
    padding: 0.5rem 1rem ;

}